option_settings:
  aws:elb:listener:9090:
    ListenerProtocol: HTTP
    InstancePort: 80
    InstanceProtocol: HTTP

Resources:
  9090inboundfromloadbalancer:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 9090
      FromPort: 9090
      SourceSecurityGroupName: { "Fn::GetAtt": ["AWSEBLoadBalancer", "SourceSecurityGroup.GroupName"] }
